server:
  port: ${PORT:8762}

eureka:
  instance:
    prefer-ip-address: true
    hostname: ${HOSTNAME:localhost}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}

spring:
  application:
    name: Gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

          globalcors:
            cors-configurations:
              '[/**]':
                      allowed-origins: ${ALLOWED_ORIGINS:*}
                      allowed-headers: "*"
                      allowed-methods:
                      - GET
                      - POST
                      - PUT
                      - DELETE
                      - PATCH
management:
  endpoint:
    gateway:
      access: ${ROUTE_TABLES_ENABLE:read_only}
  endpoints:
    web:
      exposure:
        include:
          - '*'

